In [29]:
import pandas as pd
import os
from collections import defaultdict

In [3]:
df = pd.read_csv('rd-wr-ratio_50to100.csv')
df

,type,rd_percentage,pause,bandwidth_mean,bandwidth_std,bandwidth_min,bandwidth_max,latency_mean,latency_std,latency_min,latency_max,bandwidth_smooth,latency_smooth
0,DDR3-1600,50,0,37547.394783,10.698667,37532.066047,37565.773152,374.846958,0.160566,374.579056,375.006664,37852.732005,374.079085
1,DDR3-1600,50,5,37665.944637,14.364840,37651.980569,37697.825454,374.873487,0.112967,374.713262,375.032022,37407.579376,376.345401
2,DDR3-1600,50,10,37604.643026,23.185362,37564.792314,37633.208544,373.913102,0.270296,373.270825,374.241714,37147.002521,374.046305
3,DDR3-1600,50,15,36808.712375,21.354215,36763.233652,36840.917553,366.870214,0.096204,366.770260,367.056383,36939.752643,367.971523
4,DDR3-1600,50,20,36750.424461,38.638547,36694.643361,36810.936331,364.894173,0.230011,364.476935,365.179307,36654.580947,358.910779
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,DDR3-1600,100,2000,1955.493961,3.407146,1952.823506,1963.329667,235.394088,0.034726,235.345723,235.471558,2007.438325,235.944629
1062,DDR3-1600,100,3000,1369.215904,7.083585,1362.715165,1383.807877,233.608397,0.023337,233.590880,233.664096,1367.086829,233.661415
1063,DDR3-1600,100,5000,855.072368,4.305842,851.472849,865.497263,231.565715,0.031500,231.506618,231.609950,799.764522,231.581297
1064,DDR3-1600,100,40000,169.011973,3.484421,165.349679,175.107859,229.939354,0.036214,229.910620,230.028399,333.968924,229.887542
1065,DDR3-1600,100,100000,94.485583,6.257940,86.206647,104.656775,228.832971,0.017618,228.805466,228.860751,-1.802441,228.763416

In [49]:
df.describe()

,rd_percentage,pause,bandwidth_mean,bandwidth_std,bandwidth_min,bandwidth_max,latency_mean,latency_std,latency_min,latency_max,bandwidth_smooth,latency_smooth
count,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000
mean,75.000000,3892.560976,18610.808095,11.620747,18593.747666,18629.508331,287.783201,0.132760,287.573889,287.977610,18603.810208,287.916791
std,15.007041,16404.803194,13938.479113,11.325005,13927.614544,13944.508011,63.297479,0.203682,63.248636,63.345298,13780.023295,63.119081
min,50.000000,0.000000,46.233083,1.876847,40.444262,49.935574,227.851252,0.008918,227.825862,227.874078,-459.049145,225.966546
25%,62.000000,50.000000,5169.274532,5.889349,5161.187539,5183.356271,245.680127,0.048315,245.378485,245.858096,5874.943802,245.593578
50%,75.000000,160.000000,16229.678001,8.607919,16222.039767,16244.088386,263.543359,0.080762,263.476344,263.678002,16134.070092,264.534602
75%,88.000000,600.000000,30193.730715,13.852616,30173.259127,30223.712968,294.473291,0.145447,294.324418,294.627766,30811.254623,293.849747
max,100.000000,100000.000000,45311.692403,209.745913,45280.801068,45348.634989,463.124928,3.290071,463.016859,463.190608,45282.948216,467.059755

In [58]:
# drop negative smooths
df = df[df['bandwidth_smooth'] > 0]

In [61]:
cols = ['bandwidth_smooth', 'latency_smooth']
for rd_ratio in df['rd_percentage'].unique():
    fname = f'bwlat_{rd_ratio}.txt'
    if os.path.exists(fname):
        # remove if exists
        os.remove(fname)
    ratio_df = df[df['rd_percentage'] == rd_ratio]
    ratio_df[ratio_df['rd_percentage'] == rd_ratio][cols]\
        .sort_values('bandwidth_smooth', ascending=False)\
        .to_csv(fname, header=None, index=None, sep='\t', mode='a')

In [15]:
tmp = pd.read_feather('../../../prv_profet_visualizations/trace_dfs/xhpcg_nord_8p_socket0+1_uncore_100m.chop1.feather')

In [16]:
tmp

         timestamp    wr     rr   bw  max_bw    lat  min_lat  max_lat
0     9.645607e+07  86.0   14.0  8.0    38.0  109.0     99.0    163.0
1     9.645607e+07  88.0   12.0  7.0    38.0  109.0     99.0    163.0
2     9.846357e+07  88.0   12.0  7.0    38.0  109.0     99.0    163.0
3     2.984619e+08  87.0   13.0  8.0    38.0  109.0     99.0    163.0
4     2.984619e+08  87.0   13.0  8.0    38.0  109.0     99.0    163.0
...            ...   ...    ...  ...     ...    ...      ...      ...
4746  1.310995e+11  30.0   70.0  8.0    40.0  109.0     99.0    199.0
4747  1.311015e+11  31.0   69.0  4.0    40.0  108.0     99.0    199.0
4748  1.311015e+11  31.0   69.0  4.0    40.0  108.0     99.0    199.0
4749  1.311340e+11  -1.0  101.0  0.0    -1.0   -1.0     -1.0     -1.0
4750  1.311340e+11  -1.0  101.0  0.0    -1.0   -1.0     -1.0     -1.0

[4751 rows x 8 columns]

In [17]:
tmp[tmp['timestamp'] == 81702482874]

         timestamp   wr    rr    bw  max_bw  lat  min_lat  max_lat
2944  8.170248e+10  4.0  96.0  34.0    41.0  3.0      2.0    200.0
2945  8.170248e+10  4.0  96.0  35.0    41.0  2.0      2.0    200.0

In [18]:
tmp.iloc[2930:2950]

         timestamp   wr    rr    bw  max_bw    lat  min_lat  max_lat
2930  8.127147e+10  3.0  97.0  34.0    41.0  129.0      2.0    200.0
2931  8.128648e+10  4.0  96.0  35.0    41.0  131.0      2.0    200.0
2932  8.128648e+10  4.0  96.0  35.0    41.0  131.0      2.0    200.0
2933  8.137248e+10  5.0  95.0  35.0    41.0  132.0      4.0    200.0
2934  8.137248e+10  5.0  95.0  36.0    41.0  133.0      2.0    200.0
2935  8.138748e+10  4.0  96.0  36.0    41.0  131.0      2.0    200.0
2936  8.138748e+10  4.0  96.0  35.0    41.0  131.0      2.0    200.0
2937  8.147347e+10  2.0  98.0   3.0    43.0  128.0      2.0    199.0
2938  8.147347e+10  2.0  98.0  34.0    43.0  128.0      2.0    199.0
2939  8.149448e+10  2.0  98.0  34.0    43.0  128.0      2.0    199.0
2940  8.159548e+10  4.0  96.0  34.0    41.0  129.0      2.0    200.0
2941  8.159548e+10  4.0  96.0  34.0    41.0  129.0      2.0    200.0
2942  8.167549e+10  6.0  94.0  34.0    42.0  130.0      2.0    196.0
2943  8.167549e+10  6.0  94.0  34.0    42.0  130.0      2.0    196.0
2944  8.170248e+10  4.0  96.0  34.0    41.0    3.0      2.0    200.0
2945  8.170248e+10  4.0  96.0  35.0    41.0    2.0      2.0    200.0
2946  8.177647e+10  2.0  98.0  33.0    43.0  127.0      2.0    199.0
2947  8.177647e+10  2.0  98.0  33.0    43.0  127.0      2.0    199.0
2948  8.180348e+10  2.0  98.0  32.0    43.0  126.0      2.0    199.0
2949  8.180348e+10  2.0  98.0  32.0    43.0  126.0      2.0    199.0

In [46]:
def get_trace_df(trace_file, verbose=False):        
    df = pd.DataFrame(columns=['timestamp', 'wr', 'rr', 'bw', 'max_bw', 'lat', 'min_lat', 'max_lat'])
    with open(trace_file) as f:
        # all_lines = f.readlines()
        first_line = True
        for i, line in enumerate(f):
            if first_line:
                first_line = False
                continue
            if verbose:
                if i%1000 == 0:
                    print(i)

            sp = line.split(':')
            row = defaultdict()
            # timestamp is at 5th place
            row['timestamp'] = int(sp[5])
            # process subsequent metric IDs and values after the timestamp
#             for metric_id, val in zip(sp[6:-1], sp[7:]):
            for i in range(6, len(sp)-1, 2):
                metric_id = sp[i]
                val = sp[i+1].strip()
                if row['timestamp'] == 81702482874:
                    print(metric_id, val)
                val = int(val)
                if metric_id == '1':
                    row['wr'] = val
                    row['rr'] = 100 - val
                elif metric_id == '2':
                    row['bw'] = val
                elif metric_id == '3':
                    row['max_bw'] = val
                elif metric_id == '4':
                    row['lat'] = val
                elif metric_id == '5':
                    row['min_lat'] = val
                elif metric_id == '6':
                    row['max_lat'] = val
            df = df.append(row, ignore_index=True)
        # perform a forward fill for copying above values of NaN (prvparser is purpously omitting equal consecutive values of a metric)
        df = df.ffill()
        return df

In [47]:
tmp = get_trace_df('../../out_traces/xhpcg_nord_8p_socket0+1_uncore_100m.chop1.prv')

1 4
6 153
1 4
2 35
6 153

In [48]:
tmp[tmp['timestamp'] == 81702482874]

         timestamp   wr    rr    bw  max_bw    lat  min_lat  max_lat
2960  8.170248e+10  4.0  96.0  34.0    42.0  101.0     76.0    153.0
2961  8.170248e+10  4.0  96.0  35.0    42.0  101.0     76.0    153.0

In [54]:
tmp[tmp['wr'] < 0]

         timestamp   wr     rr   bw  max_bw  lat  min_lat  max_lat
4771  1.311340e+11 -1.0  101.0  0.0    -1.0 -1.0     -1.0     -1.0
4772  1.311340e+11 -1.0  101.0  0.0    -1.0 -1.0     -1.0     -1.0

In [56]:
tmp[tmp['wr'] > 0].describe()

,timestamp,wr,rr,bw,max_bw,lat,min_lat,max_lat
count,4.771000e+03,4771.000000,4771.000000,4771.000000,4771.000000,4771.000000,4771.000000,4771.000000
mean,6.649306e+10,4.033536,95.966464,32.382519,42.464473,98.305387,76.003144,152.046112
std,3.706158e+10,5.235515,5.235515,5.845404,0.651515,5.005323,0.077909,2.335751
min,9.645607e+07,1.000000,12.000000,1.000000,38.000000,77.000000,76.000000,125.000000
25%,3.441748e+10,3.000000,96.000000,33.000000,42.000000,96.000000,76.000000,152.000000
50%,6.629548e+10,3.000000,97.000000,34.000000,43.000000,99.000000,76.000000,152.000000
75%,9.865148e+10,4.000000,97.000000,35.000000,43.000000,101.000000,76.000000,153.000000
max,1.311015e+11,88.000000,99.000000,38.000000,43.000000,115.000000,78.000000,156.000000